#myBody{
    background-color:#303130;
    color: Grey;
  }
  
  #filterBy
  {
    align-items: center;
    border: 1px solid red;
    padding: 50px;
    margin: 0;
  }
  
  table, th, td {
    font-size: 20px;
    border: 2px solid black;
    border-collapse: collapse;
    border-color:black;
    align-items: center;
  }

  